.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  color: black;
}
.Header h1 {
  color: black;
}

.Header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.Header .header-bottom {
  width: 100%;
}

.Header Form {
  display: flex;
  justify-content: center;
}

.Header .header-bottom input {
  width: 80%;
  padding: 10px;
}

.Header button {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: black;
}

.Header .login {
  color: black;
  padding: 10px;
}

.Header .login:hover {
  background: purple;
}

.Header button:hover {
  background-color: purple;
}
