.PostPopUp {
  margin-top: 50px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PostPopUp .off {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 80%;
  border: 1px solid black;
}

.PostPopUp .on {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
  border: 1px solid black;
}

.PostPopUp .content {
  width: 200px;
  height: 30px;
}

.PostPopUp .form-box {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
