.Search .search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 2.5%;
}

.Search .search-bar {
  display: flex;
  justify-content: center;
  flex: 4;
  padding: 10px;
}

.Search .search-bar-container button {
  padding: 10px;
}

.Search h2 {
  text-align: center;
}

.Search .welcome-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Search .welcome {
  width: 90%;
  background-color: white;
}

.Search .artist-container {
  display: flex;
  width: 95%;
  height: 300px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 12px;
  overflow: scroll;
  overflow-y: hidden;
}

.Search .artist-image {
  height: 90px;
  width: 90px;
}

.Search .albums-container {
  display: flex;
  width: 95%;
  height: 300px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 12px;
  overflow: scroll;
  overflow-y: hidden;
}

.Search .albums-image {
  height: 90px;
  width: 90px;
}
.Search .tracks-container {
  display: flex;
  width: 95%;
  height: 300px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 12px;
  overflow: scroll;
  overflow-y: hidden;
}

.Search .tracks-image {
  height: 90px;
  width: 90px;
  overflow: scroll;
}

/* css before searching */

.Search .new-release-box {
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  height: 300px;
  color: white;
  margin: 20px;
  scroll-snap-type: inline mandatory;
}

.Search .new-release {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  scroll-snap-align: start;
  margin: 10px;
  padding: 10px;
  height: 225px;
  margin-left: -20px;
}

.Search .name {
  text-align: center;
  width: 200px;
}

.Search .new-release-box img {
  height: 170px;
  width: 152px;
  margin: 0px;
}

/* record animation */

.Search .slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}
.Search .slider:after {
  content: " ";
  position: absolute;
  bottom: -20px;
  height: 15px;
  width: 100vw;
}
.Search .title {
  font-weight: 800;
  color: #888;
  text-transform: uppercase;
  margin-bottom: 100px;
}
.Search .wrapper {
  position: relative;
  display: flex;
  transform: rotate3d(0, 1, 0, 30deg);
  transition: all 400ms cubic-bezier(0, 0, 0.58, 1);
  transform-origin: center left;
  margin: 0 30px;
}
.Search .record-wrapper {
  transition: all 400ms cubic-bezier(0, 0, 0.58, 1);
  transform: translateX(20px);
}
.Search .record-wrapper:after {
  position: absolute;
  content: " ";
  right: 20px;
  bottom: 42px;
  width: 100px;
  max-height: 0px;
  z-index: -2;
  transform: rotate3d(0, 1, 0, 30deg);
  transform-origin: center center;
}
.Search .record-case {
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 30px);
  top: 15px;
  left: 0;
  box-shadow: 41px 0px 26px -36px black, 0 8px 6px -6px;
  filter: grayscale(90%);
  transition: all 400ms cubic-bezier(0, 0, 0.58, 1);
  animation: caseback 400ms;
  z-index: 999;
  border-radius: 2px;
}
.Search .record-case .image {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  background-size: cover;
  background-position: center center;
  border-radius: 2px;
}
.Search .record-case .image2 {
  background-size: cover;
  background-position: left center;
}
.Search .record-case .image:before {
  position: absolute;
  content: " ";
  top: 70%;
  left: 3px;
  bottom: 40px;
  width: 15%;
  transform: rotate(-28deg);
  transform-origin: center bottom;
  z-index: -1;
  transition: all 400ms;
}
.Search .record {
  position: relative;
  margin: 19px auto;
  width: 162px;
  height: 162px;
  border-radius: 50%;
  background: linear-gradient(
        30deg,
        transparent 40%,
        rgba(42, 41, 40, 0.85) 40%
      )
      no-repeat 100% 0,
    linear-gradient(60deg, rgba(42, 41, 40, 0.85) 60%, transparent 60%)
      no-repeat 0 100%,
    repeating-radial-gradient(#2a2928, #2a2928 2px, #ada9a0 3px, #2a2928 4px);
  background-size: 50% 100%, 100% 50%, 100% 100%;
  transition: all 400ms cubic-bezier(0, 0, 0.58, 1);
  z-index: 1;
}
.Search .record:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-105deg);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #b5ac9a;
  background-size: contain;
  background-position: bottom bottom;
  content: "";
}
.Search .record2:after {
  background-size: contain;
  background-position: center center;
}
.Search .wrapper:hover .record {
  transform: rotate(105deg);
  transition-delay: 200ms;
}
.Search .wrapper:hover {
  transform: translateZ(50px);
  margin: 0 70px;
}
.Search .wrapper:hover .record-wrapper {
  transform: translateX(80px);
  transition-delay: 200ms;
}
.Search .wrapper:hover .record-case {
  animation: case 400ms forwards;
}
.Search .wrapper:hover .record-case .image:before {
  transform: translateX(20px);
}
@keyframes case {
  0% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-20px);
  }
}
@keyframes caseback {
  0% {
    transform: translateX(-20px);
  }
  70% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
